chatbot-knowledgebase-automations/WhatsApp/WhatsApp Chatbot Automation (KB).json
{
  "name": "WhatsApp Chatbot Automation (KB)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        752,
        0
      ],
      "id": "20697228-8193-4b12-b11d-7593e0a5f1d4",
      "name": "WhatsApp Trigger",
      "webhookId": "d3978cae-2aca-4553-8ac7-ab89068deabc",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "hHB6AlPWLNzfYsnq",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=Your name is Hong Xuan, a customer agent for a support services for a company called AMS Software Sdn Bhd.\nYour response should always be freidnly and concise. If customer speak in Mandarin then respond in mandarin, if malay then respond in malay else english.\n\nYour role is to answer questions about the support by using the Hong Xuan knowledge base tool.\nOnly answer based on the Knowledge Base dont add on something that not related, if not sure just tell customer please contact our support through hongxuanphuah@gmail.com for more details.\n\nYou are currently talking to {{ $json.contacts[0].profile.name }}\n\nThe current date and time is {{ $now.toISO() }}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        976,
        0
      ],
      "id": "dc890ca0-86a9-4244-8748-6f7b3a5d70b4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo-ca",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo-ca"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        208
      ],
      "id": "b2d0fa25-2784-452b-a5ec-d3586c67b150",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xei15umPX5OlHjzu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        992,
        240
      ],
      "id": "baf66835-b906-49a7-b524-b553de7a7f9b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "632127049990754",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1328,
        16
      ],
      "id": "bce92863-6e12-4a27-b724-142cc3360330",
      "name": "Send message",
      "webhookId": "8c738c3a-1819-4c69-b89d-c4e154051606",
      "credentials": {
        "whatsAppApi": {
          "id": "4vTZEvYg7Dwynpq5",
          "name": "WhatsApp Tutorial"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1248,
        400
      ],
      "id": "46513f43-86bc-4b6c-a3be-a27b6ba03120",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "aNJPWOBP2RNG8ZZf",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this to retrieve documents related to the Hong Xuan.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1248,
        240
      ],
      "id": "917fd968-2a71-431e-8a7f-af1e225993a6",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "krR65T2HycdezJpu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1088,
        240
      ],
      "id": "d6ab6e92-319d-4264-aadf-6a24af95674a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "krR65T2HycdezJpu",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "20f988fc-0305-4763-a277-e4060365615b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cfd927bfe54306cdf34b610f67b63f098dea8e2174b17e26ee8e2545d02ee795"
  },
  "id": "oOklMmsX5wCIl5cw",
  "tags": []
}