chatbot-knowledgebase-automations/Telegram/Telegram + Mail Chatbot Automation (KB).json
{
  "name": "Telegram + Mail Chatbot Automation (KB)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Your name is Hong Xuan, a customer agent for a support services for a company called AMS Software Sdn Bhd.\n\nYour role is to answer questions about the support by using the Hong Xuan knowledge base tool.\n\nYour response should always be freidnly and concise. If customer speak in Mandarin then respond in mandarin, if malay then respond in malay else english.\n\nOnly answer based on the Knowledge Base dont add on something that not related, if not sure just tell customer please contact our support through hongxuanphuah@gmail.com for more details.\n\nIf a user requests to make a reservation, you need to do the following:\n-Collect their name,email,date and time and any special requirements(optional)\n-Use the Make Reservation tool to send an email to the supprot to make the reservation for installation or support.\n-Inform the user that their request was sent to the support will confirm the reservation.\n\nIf a user requests to speak a human, you need to do the following:\n-Collect their name, email or a phone number.\n-Send an email using Request Human Support tool\n-Inform the user that their request was sent to the support and someone will get in touch soon."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        224,
        176
      ],
      "id": "1e9c4937-65e5-417a-8cc0-1be776242c39",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gp-4.1-mini",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        400
      ],
      "id": "d6c2ab2d-8d9c-4c6b-9bbd-d875d375cb91",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UPLKC7rNu37r93qa",
          "name": "Free OpenAI"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        240,
        576
      ],
      "id": "af10ac40-bb0a-4bbf-97cc-c10546d35c01",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "aNJPWOBP2RNG8ZZf",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "hongxuanphuah@gmail.com",
        "subject": "New Reservation",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        528,
        400
      ],
      "id": "e4143b28-6435-463c-acdb-f0e086c2902e",
      "name": "Make Reservation",
      "webhookId": "9a1fa434-0027-4dde-a8de-54c7f205e7e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "bdugxbPSIG1qFcn5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "hongxuanphuah@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        640,
        400
      ],
      "id": "cd3c8dff-4788-46cb-8828-eeffc6af2141",
      "name": "Request Human Support",
      "webhookId": "593dcee9-3032-46dc-be19-ec782c4e1a8a",
      "credentials": {
        "gmailOAuth2": {
          "id": "bdugxbPSIG1qFcn5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Receive Message').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        112,
        416
      ],
      "id": "5ed74e17-121a-4abb-bf0f-e9cb6558713a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "krR65T2HycdezJpu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this to retrieve documents related to the Hong Xuan.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        240,
        416
      ],
      "id": "386502de-bb76-40ac-97c1-d18b3be077f1",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "krR65T2HycdezJpu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Hong Xuan. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        176
      ],
      "id": "721b723e-d305-45ea-8b52-5699c9857d23",
      "name": "When chat message received",
      "webhookId": "7f6d4215-3d28-472d-92e8-beb41c2d459e"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3a298a4d-c37f-4c8a-bd84-5efefdc0259a",
      "name": "Receive Message",
      "webhookId": "ba0e629c-7cc9-4700-be6c-edfed7da87b2",
      "credentials": {
        "telegramApi": {
          "id": "IpTWnujp2XEivAbs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive Message').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        176
      ],
      "id": "9836afbf-bf1c-4711-ada7-0ef9a7a81da7",
      "name": "Send a text message",
      "webhookId": "04eab639-4cc6-445c-b09a-a74e04247e15",
      "credentials": {
        "telegramApi": {
          "id": "IpTWnujp2XEivAbs",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "Receive Message": [
      {
        "json": {
          "update_id": 76807733,
          "message": {
            "message_id": 22,
            "from": {
              "id": 1218366200,
              "is_bot": false,
              "first_name": "宏轩",
              "username": "Phuah26",
              "language_code": "en"
            },
            "chat": {
              "id": 1218366200,
              "first_name": "宏轩",
              "username": "Phuah26",
              "type": "private"
            },
            "date": 1754737026,
            "text": "Sup"
          }
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Make Reservation": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Request Human Support": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f5eb8386-b21f-4dcd-b9fd-6f9c7ff78549",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cfd927bfe54306cdf34b610f67b63f098dea8e2174b17e26ee8e2545d02ee795"
  },
  "id": "tSfECtdrwPGDdFrg",
  "tags": []
}