chatbot-knowledgebase-automations/Telegram/Telegram Chatbot Automation (KB).json
{
  "name": "Telegram Chatbot Automation (KB)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant with access to a vector database containing support knowledge.\n\nYou need to answer questions based on the customer's language: if the customer uses English, reply in English; if the customer uses Mandarin, reply in Mandarin; and if the customer uses Malay, reply in Malay"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -112,
        -192
      ],
      "id": "2f6eceb3-98bc-401c-a696-97b859a64377",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        32
      ],
      "id": "1be19cf7-1c4d-445e-b83a-66fd1f408ddc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GoS6cqSOma9wF1du",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -48,
        32
      ],
      "id": "138d6091-afdf-49e7-9f34-9c8e8a2323d3",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "krR65T2HycdezJpu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this to retrieve documents related to the Hong Xuan.",
        "tableName": "n8n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        112,
        80
      ],
      "id": "8a442143-7dba-4358-9ba3-1675f7a9ad43",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "krR65T2HycdezJpu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        -192
      ],
      "id": "ed4fac40-510e-489b-9a05-49f3552ac34d",
      "name": "Telegram Trigger",
      "webhookId": "b483ef17-4f54-4f9b-82bb-55c52fdfbf34",
      "credentials": {
        "telegramApi": {
          "id": "IpTWnujp2XEivAbs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        48,
        256
      ],
      "id": "4360758c-2fe8-4548-8a7a-ea62060bf1c7",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "aNJPWOBP2RNG8ZZf",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1218366200",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        -192
      ],
      "id": "9f97fc63-afb5-4fa6-a320-772d9a694266",
      "name": "Send a text message",
      "webhookId": "d3221e0f-cdff-41d7-bae4-82f09427ddaf",
      "credentials": {
        "telegramApi": {
          "id": "IpTWnujp2XEivAbs",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_vectorStore": [
        []
      ],
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e41ebf3-2bc3-495a-8282-df4904a7ab91",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cfd927bfe54306cdf34b610f67b63f098dea8e2174b17e26ee8e2545d02ee795"
  },
  "id": "89cftdv1eumeZnoE",
  "tags": []
}