chatbot-knowledgebase-automations/Email/Email Chatbot Automation (KB).json
{
  "name": "Email Chatbot Automation (KB)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant with access to a vector database containing support knowledge.\n\nYou need to answer questions based on the customer's language: if the customer uses English, reply in English; if the customer uses Mandarin, reply in Mandarin; and if the customer uses Malay, reply in Malay"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        336,
        0
      ],
      "id": "445f761f-e4e2-40af-ab95-6a3ccec4dafc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        224
      ],
      "id": "db209ec5-e885-4908-89b0-d974f3fc80fe",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GoS6cqSOma9wF1du",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this to retrieve documents related to the Hong Xuan.",
        "tableName": "n8n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        560,
        272
      ],
      "id": "dad3ac7a-34e7-49bc-b498-e96b27f7947c",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "krR65T2HycdezJpu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        496,
        448
      ],
      "id": "242c9b97-22fd-47c4-b6b8-2207b69838b0",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "aNJPWOBP2RNG8ZZf",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -32,
        0
      ],
      "id": "7d9ba4f4-3de6-40b6-9c64-ddb2a80179dd",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "bdugxbPSIG1qFcn5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.snippet }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        416,
        224
      ],
      "id": "c3a08dea-60c3-4c57-a9bc-2d9d6abbb529",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "krR65T2HycdezJpu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        672,
        0
      ],
      "id": "331bb9ca-5216-4f28-8bf5-525ddddfe88d",
      "name": "Reply to a message",
      "webhookId": "2c6f0829-3dd4-49cc-b41e-042706ccdc4d",
      "credentials": {
        "gmailOAuth2": {
          "id": "bdugxbPSIG1qFcn5",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9a69390f-ea14-493f-92d1-b6ac6ad39dbc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cfd927bfe54306cdf34b610f67b63f098dea8e2174b17e26ee8e2545d02ee795"
  },
  "id": "1Vmyf8cpRhI9nBdw",
  "tags": []
}